body {
  background-color: lightcoral;
}

.container {
  background-color: rgb(230, 223, 223);
  
  padding: 30px;
  width: 60%;
  margin: auto;
  border-radius: 25px;
  text-align: center;
  margin-top: 30px;
}

.dice {
  border: none;
  background-color: rgb(122, 108, 136);
  border-radius: 20px;
  margin-top: 15px;
  height: 40px;
  width: 100px;
}
.spechail {
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 31, 31);
  margin-top: 15px;
  height: 40px;
  width: 100px;
}
.Players {
  display: flex;
  justify-content: space-around;
}

.p1 {
  background-color: rgb(201, 90, 201);
  padding: 50px;
  width: 20%;
  border-radius: 20px;
  
}

.p2 {
  width: 20%;
  background-color: rgb(110, 110, 231);
  border-radius: 20px;
 
  padding: 50px;
  
}

.rool {
  margin-top: 70px;
  font-size: 20px;
  
  width: 20%;
}


@media (max-width:1000px){

   .Players{
    display: block;
    
   }
   .p1{
    margin: auto;
    width: 40%;
  }
  .rool{
     margin: auto;
     width: 40%;
     
    }
    .p2{
     margin: auto;
     width: 40%;
     margin-top: 20px;

   }
}